*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/Accessibility101-Android/build/
/Accessibility101-Android/.idea/
Accessibility101-Android/local.properties
/captures
.externalNativeBuild
